__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
*.template
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

*.md
.idea
.vscode

Dokerfile
docker-compose.yml
db_volume
poetry.lock
pyproject.toml